/** 
 * mobile specific styles, only used when mobile browser detected
 *
 
 or embed
 
 <link rel="stylesheet" media="all" href="/static/css/base.min.css" />
<link rel="stylesheet" media="only screen and (max-width: 800px)" 
  href="/static/css/mobile.min.css" />
  
  
 
 * jlh2199
 * 8/1/2012
 */
 

body{
	font:14px/17px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:black;
}

body.retina{
	font:28px/34px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
	position:absolute;
	top:77px;
	z-index:1;
	bottom:0;
	width:35px;
	right:0;
}

.retina #wrapper {
	top:132px;
	width:70px;
}

#content{
	top:77px;
	padding:5px 5px 150px 30px;
	display: none;
}

#content img{
	max-width:100%;
	height:auto;
}

.retina #content{
	top:132px;
	padding:10px 10px 300px 60px;
}

#header {
	position:absolute;
    top:0;
    left:0;
    background-color:#efefef;
    z-index:2;
	height: 75px;
	color: #fff;
	border-bottom: 2px solid white;
}

.retina #header {
	height: 130px;
}

#navigation {
    background-color:#efefef;
    position:absolute;
    top:77px;
    left:0;
	z-index:1;
	bottom:0;
}

.retina #navigation {
    top:132px;
}

#mobile-search {
	display:none;
	position:absolute;
	z-index:1;
	top:77px;
	display:none;
	padding:5px 5px 150px 30px;
}

.retina #mobile-search {
	top:132px;
	padding:10px 10px 300px 60px;
}

body.loading #tmpltzr,
body.loading footer {
	opacity:0.0;
	filter: alpha(opacity = 0);
}

#preloader{
	margin-top:85px;
	display:none;
}

.retina #preloader{
	margin-top:170px;
}

body.loading #preloader{
	display:block;
}

@media only screen and (max-device-height: 480px) {
	#wrapper, #navigation {
		height:403px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max--moz-device-pixel-ratio: 2) {
	#wrapper {
		height:828px;/* 960 - 132 for header */
	}
	#navigation{
		height:696px;/* 960 - 132 for header -132 mystery */
	}
}

/*
@media only screen and (min-device-width: 481px) and (max-device-width: 640px) #wrapper,
@media only screen and (min-device-width: 481px) and (max-device-width: 640px) #header,
@media only screen and (min-device-width: 481px) and (max-device-width: 640px) #navigation{
	min-width:480px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) #wrapper,
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) #header,
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) #navigation{
	min-width:320px;
}
*/

#menu{
	z-index:1;
	padding-left:27px;
	position:absolute;
	padding-top:29px;
	padding-bottom:39px;
	width:100%;
}

.retina #menu{
	padding-left:54px;
	padding-top:57px;
	padding-bottom:77px;
}

#gsapp-logo {
	position:absolute;
	top: 23px;
	left:35px;
}

#gsapp-logo img{
	width: 119px;
	height:25px;
}

.retina #gsapp-logo {
	position:absolute;
	top: 46px;
	left:69px;
}

.retina #gsapp-logo img{
	width: 237px;
	height:49px;
}

#gsapp-news {
	position:absolute;
	width: 83px;
	height:81px;
	top: 26px;
	left:325px;
}

#gsapp-mobile-search {
	position:absolute;
	width: 56px;
	height:54px;
	top: 40px;
	left: 450px;
	display:none;
}

#gsapp-login {
	position:absolute;
	left:264px;
	top: 27px;
	height: 24px;
}
#gsapp-login a {
	font-family: 'courier new', courier, monospace;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.retina #gsapp-login {
	position:absolute;
	left:527px;
	top: 54px;
	height: 47px;
}
.retina #gsapp-login a {
	font-family: 'courier new', courier, monospace;
	font-weight: bold;
	color: black;
	text-decoration: none;
}





#switch {
	position: absolute;
	top: 132px;
	width: 70px;
	background-color: #fff;
	z-index: 9999;
	display:none;
}

#switch div {
	position:fixed;
	top:40%;
	right:26px;
	width:26px;
}



#switch div .arrow {
	background:url(/templatizer/sites/all/themes/tmpltzr/assets/mobile/view_page_arrow_52x33.png) no-repeat 0 0;
	height:33px;
	width:26px;
	display:block;
}

#switch div .arrow.page {
	background-position:-26px 0;
}

#switch div .view-page {
	background:url(/templatizer/sites/all/themes/tmpltzr/assets/mobile/view_page_52x165.png) no-repeat 0 0;
	height:165px;
	width:26px;
	display:block;
	margin-top: 33px;
}

#switch div .view-page.page {
	background-position:-26px 0;
}


/* menu */




/* NAVIGATION */

#navigation .menu li a{
	text-decoration:none;
    color:gray;
    text-transform: uppercase;
	font: 24px "DIN Next W02 Bold", Arial, Helvetica, sans-serif;
	display:inline-block;
	padding:0 0 5px 5px !important;
	line-height:1em;
}

.retina #navigation .menu li a{
	font: 50px "DIN Next W02 Bold", Arial, Helvetica, sans-serif;
	padding:0 0 10px 10px !important;
}

#navigation .menu li {
	list-style: none;
	padding-bottom:5px;
	margin-bottom:5px;
}

.retina #navigation .menu li {
	padding-bottom:10px;
	margin-bottom:10px;
}

#navigation ul {
	margin:0 !important;
	padding:0;
	list-style:none !important;
}


#navigation .menu .menu li a {
	font: 18px "DIN Next W02 Bold", Arial, Helvetica, sans-serif !important;
	line-height:.8em;
}

.retina #navigation .menu .menu li a {
	font: 36px "DIN Next W02 Bold", Arial, Helvetica, sans-serif !important;
}

#navigation .menu {
	position:relative;
	word-wrap: break-word
}

#navigation .menu .menu {
	display:none;
	padding-top:10px;
}

.retina #navigation .menu .menu {
	padding-top:20px;
}

#navigation .menu li.force-expanded{
	padding-left:5px;
}

.retina #navigation .menu li.force-expanded{
	padding-left:9px;
}

#navigation .menu li.force-expanded .menu {
	display: block;
}
#navigation .force-expanded .menu .menu {
	display: none;
}



#navigation .hover-only{
	margin-left:3px;
	display:none;
	padding-bottom:1px;
}

.retina #navigation .hover-only{
	margin-left:5px;
	padding-bottom:1px;
}

#navigation ul ul{
	padding-left:12px;
}

.retina #navigation ul ul{
	padding-left:25px;
}

#navigation ul ul ul{
	padding-left:10px !important;
}

.retina #navigation ul ul ul{
	padding-left:19px !important;
}

#navigation .menu-arrow-large{
	display:inline-block;
	width:15px;
	height:15px;
	background:transparent url("http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/menu-arrow-large.png") no-repeat -15px -50px;
	vertical-align: bottom;
	padding-bottom: 13px;
}

.retina #navigation .menu-arrow-large{
	padding-bottom: 27px;
}

#navigation .active-trail.expanded .menu-arrow-large{
	background-position: 0 0;
}

#navigation .active-trail.collapsed .menu-arrow-large{
	background-position: -15px 0;
}



#navigation .menu-arrow-small{
	display:inline-block;
	width:9px;
	height:9px;
	background:transparent url("http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/menu-arrow-small.png") no-repeat -9px -50px;
	vertical-align: bottom;
	bottom: 13px;
	position: relative;
}

.retina #navigation .menu-arrow-small{
	bottom: 27px;
}


#navigation .active-trail.expanded .menu-arrow-small:first-child{
	background-position: 0 0;
}


#navigation .leaf.active-trail .menu-arrow-small:first-child{
	background-position: -9px 0 !important;
}

#navigation .active-trail .collapsed .menu-arrow-small:first-child{
	background-position: 0 -50px;
}

#navigation .active-trail.collapsed .menu-arrow-small:first-child{
	background-position: -9px 0;
}

#navigation .active-trail.collapsed .menu .menu-arrow-small{
	background-position: 0 -50px;
}

#menuswitch,
#contentswitch{
	position:absolute;
	left:10px;
	display:none;
	z-index:100000;
	top:100px;
}

.retina #menuswitch,
.retina #contentswitch{
	top:200px;
	left:20px;
}

#menuswitch img, #contentswitch img{
	width:15px;
	height:114px;
}

.retina #menuswitch img, .retina #contentswitch img{
	width:30px;
	height:228px;
}	


#menufooter{
	width:228px;
	padding-top:75px;
	padding-left:12px;
}

.retina #menufooter{
	width:456px;
	padding-top:150px;
	padding-left:25px;
}

#gradArchLogo{
	width:212px;
}

.retina #gradArchLogo{
	width:425px;
}
#CUlogo{
	width:95px;
}

.retina #CUlogo{
	width:190px;
}


/* WIDGETS */

#tmpltzr .tmpltzr-widget{
	width:100%;
	margin-bottom:15px;
}

.retina #tmpltzr .tmpltzr-widget{
	margin-bottom:30px;
}



#tmpltzr .none .tmpltzr-secondary, #tmpltzr .other.tmpltzr-widget, #tmpltzr .other .tmpltzr-secondary, #tmpltzr .none .tmpltzr-secondary, #tmpltzr .none .tmpltzr-primaryquote, #tmpltzr .other .tmpltzr-primaryquote {
	background-color: #efefef;
}

#tmpltzr .none.tmpltzr-widget {
	background-color: transparent;
}

#tmpltzr .latin-america .tmpltzr-secondary, #tmpltzr .latin-america.tmpltzr-widget, #tmpltzr .latin-america .tmpltzr-primaryquote{
	background-color: #e0fcea;
}

#tmpltzr .middle-east .tmpltzr-secondary, #tmpltzr .middle-east.tmpltzr-widget, #tmpltzr .middle-east .tmpltzr-primaryquote{
	background-color: #ffebf8;
}

#tmpltzr .other .tmpltzr-secondary, #tmpltzr .other.tmpltzr-primaryquote{
	color:gray;
}

#tmpltzr .north-america .tmpltzr-secondary, #tmpltzr .north-america.tmpltzr-widget, #tmpltzr .north-america .tmpltzr-primaryquote {
	background-color:#e0faff;
}

#tmpltzr .south-asia .tmpltzr-secondary, #tmpltzr .south-asia.tmpltzr-widget, #tmpltzr .south-asia .tmpltzr-primaryquote {
	background-color:#fff3e0;
}

#tmpltzr .africa .tmpltzr-secondary, #tmpltzr .africa.tmpltzr-widget, #tmpltzr .africa .tmpltzr-primaryquote { 
	background-color:#e0f1ff;
}

#tmpltzr .europe .tmpltzr-secondary, #tmpltzr .europe.tmpltzr-widget, #tmpltzr .europe .tmpltzr-primaryquote {
	background-color:#f5e4ff;
}

#tmpltzr .asia .tmpltzr-secondary, #tmpltzr .asia.tmpltzr-widget, #tmpltzr .asia .tmpltzr-primaryquote {
	background-color:#ffe7e8;
}






/* EVENTS WIDGET */
.tmpltzr-featuredeventwidget {
	width:90%;
	padding:10px;
	background-color:#EFEFEF;
	display:none;
}

.retina .tmpltzr-featuredeventwidget {
	padding:20px;
}

.tmpltzr-featuredeventwidget .featured-events-widget{
	width:90%;
	height:175px;
}

.retina .tmpltzr-featuredeventwidget .featured-events-widget{
	height:350px;
}

.tmpltzr-featuredeventwidget .featured-events-widget ul li {
	width:90%;
	height:175px;
}

.retina .tmpltzr-featuredeventwidget .featured-events-widget ul li {
	height:350px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-image{
	margin-bottom: 6px;
	width:90%;
	height:100px;
}

.retina .tmpltzr-featuredeventwidget .featured-events-widget .fe-image{
	margin-bottom: 12px;
	height:200px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-image a{
	text-decoration:none;
	border:none !important;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-image a:hover{
	opacity: 0.9;
  	filter: alpha(opacity = 90);
  	border:none;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-label{
	margin-bottom: 6px;
}

.retina .tmpltzr-featuredeventwidget .featured-events-widget .fe-label{
	margin-bottom: 12px;
}
.tmpltzr-featuredeventwidget .featured-events-widget .fe-date{
	text-transform: uppercase;
	margin-bottom: 8px;
}

.retina .tmpltzr-featuredeventwidget .featured-events-widget .fe-date{
	text-transform: uppercase;
	margin-bottom: 17px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-date,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-title,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-type,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-location,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-time{
	font: 7px/9px "DIN Next W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.retina .tmpltzr-featuredeventwidget .featured-events-widget .fe-date,
.retina .tmpltzr-featuredeventwidget .featured-events-widget .fe-title,
.retina .tmpltzr-featuredeventwidget .featured-events-widget .fe-type,
.retina .tmpltzr-featuredeventwidget .featured-events-widget .fe-location,
.retina .tmpltzr-featuredeventwidget .featured-events-widget .fe-time{
	font: 14px/18px "DIN Next W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tmpltzr-featuredeventwidget .featured-events-widget .fe-time{
	height:20px;
}

.retina .tmpltzr-featuredeventwidget .featured-events-widget .fe-time{
	height:40px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-location-time-container{
	display:block;
	height:50px;
	overflow:hidden;
}

.retina .tmpltzr-featuredeventwidget .featured-events-widget .fe-location-time-container{
	height:100px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-prev {
	position:absolute;
	left:0px;
	width:20px;
	height:20px;
	cursor: pointer;
	display:block;
	z-index:1000;
    background: transparent url("http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/photoslider_prev.png") no-repeat 0 0;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-prev:hover,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-prev:focus {
    width:55px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-next {
	position:absolute;
	right:0px;
	width:20px;
	height:20px;
	cursor: pointer;
	display:block;
	z-index:1000;
    background: transparent url("http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/photoslider_next.png") no-repeat -35px 0;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-prev,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-next  {
	top:90px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-prev,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-next  {
	top:90px;
}

.tmpltzr-featuredeventwidget .featured-events-widget .fe-next:hover,
.tmpltzr-featuredeventwidget .featured-events-widget .fe-next:focus {
	background-position:0 0;
    width:55px;
}

/* UPCOMING EVENTS WIDGET */
#tmpltzr .tmpltzr-upcomingeventswidget{
	padding:10px;
	width:90%;
}

.retina #tmpltzr .tmpltzr-upcomingeventswidget{
	padding:20px;
}

#tmpltzr .tmpltzr-upcomingeventswidget a{
	text-decoration: none !important;
}

#tmpltzr .upcoming-events-output .embedded-event-date-box {
	width: 27px;
	height: 25px;
	font-size: 9px;
	float: left;
	border: 2px solid black;
	margin-right: 10px;
	text-align: center;
	text-transform: uppercase;
	line-height: 10px;
	padding-top: 2px;
	color:black;
}

.retina #tmpltzr .upcoming-events-output .embedded-event-date-box {
	width: 54px;
	height: 50px;
	font-size: 18px;
	border: 3px solid black;
	margin-right: 20px;
	line-height: 20px;
	padding-top: 4px;
}

#tmpltzr .upcoming-events-output .embedded-event{
	height: 65px;
	display:block;
	overflow:hidden;
}

.retina #tmpltzr .upcoming-events-output .embedded-event{
	height: 130px;
}

#tmpltzr .upcoming-events-output .embedded-event-title{
	font-size:12px;
	line-height: 13px;
	color:black;
}

.retina #tmpltzr .upcoming-events-output .embedded-event-title{
	font-size:24px;
	line-height: 26px;
}

#tmpltzr .upcoming-events-output .embedded-event-body-area{
	padding-left:25px;
	font:12px/13px "DIN Next W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:black;
}

.retina #tmpltzr .upcoming-events-output .embedded-event-body-area{
	padding-left:50px;
	font:24px/26px "DIN Next W01 Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#tmpltzr .content #event-output .embedded-event-date-box.filled,
#tmpltzr .embedded-event-date-box{
	background-color:#999;
}


#tmpltzr .content #event-output .embedded-event-date-box.north-america.filled,
#tmpltzr .embedded-event-date-box.north-america {
	background-color:#00D6FF;
}

#tmpltzr .content #event-output .embedded-event-date-box.latin-america.filled,
#tmpltzr .embedded-event-date-box.latin-america {
	background-color:#00E652;
}

#tmpltzr .content #event-output .embedded-event-date-box.south-asia.filled,
#tmpltzr .embedded-event-date-box.south-asia {
	background-color:#FF9E00;
}

#tmpltzr .content #event-output .embedded-event-date-box.middle-east,
#tmpltzr .embedded-event-date-box.middle-east {
	background-color:#FF00A6;
}

#tmpltzr .content #event-output .embedded-event-date-box.africa.filled,
#tmpltzr .embedded-event-date-box.africa {
	background-color:#008AFF;
}

#tmpltzr .content #event-output .embedded-event-date-box.europe.filled,
#tmpltzr .embedded-event-date-box.europe {
	background-color:#AD20FF;
}

#tmpltzr .content #event-output .embedded-event-date-box.asia.filled,
#tmpltzr .embedded-event-date-box.asia {
	background-color:#FF555A;
}

#tmpltzr .content #event-output .embedded-event-date-box.other.filled,
#tmpltzr .embedded-event-date-box.other {
	background-color:gray;
}

/* ACADEMIC CALENDAR WIDGET */
#tmpltzr .tmpltzr-academiccalendarwidget {
	width:90%;
	padding:10px;
	background-color:#efefef;
	text-align:center;
}

.retina #tmpltzr .tmpltzr-academiccalendarwidget {
	padding:20px;
}

.tmpltzr-academiccalendarwidget .ac-today{
	margin:0 auto;
	height:45px;
	width:45px;
	padding:4px;
	border:2px solid black;
	border-top:5px solid black;
	margin-bottom:8px;
}

.retina .tmpltzr-academiccalendarwidget .ac-today{
	height:89px;
	width:90px;
	padding:7px;
	border:3px solid black;
	border-top:10px solid black;
	margin-bottom:17px;
}

.tmpltzr-academiccalendarwidget .ac-dayOfWeek,
.tmpltzr-academiccalendarwidget .ac-month{
	font: 7px/9px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.retina .tmpltzr-academiccalendarwidget .ac-dayOfWeek,
.retina .tmpltzr-academiccalendarwidget .ac-month{
	font: 14px/18px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
.tmpltzr-academiccalendarwidget .ac-dayOfMonth{
	font: 26px/26px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.retina .tmpltzr-academiccalendarwidget .ac-dayOfMonth{
	font: 52px/53px "DIN Next W02 Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* CC WIDGET */
.tmpltzr-ccwidget {
	width:100%;
	padding:0px;
	height: 180px;
	display:none;
}

.retina .tmpltzr-ccwidget {
	height: 360px;
}
.tmpltzr-ccwidget .cc-widget,
.tmpltzr-ccwidget .cc-widget ul li {
	width:100%;
	height:180px;
}

.retina .tmpltzr-ccwidget .cc-widget,
.retina .tmpltzr-ccwidget .cc-widget ul li {
	height:360px;
}

.tmpltzr-ccwidget .cc-widget .cc-image{
	margin-bottom: 12px;
	width:100%;
	height:80px;
}

.retina .tmpltzr-ccwidget .cc-widget .cc-image{
	margin-bottom: 24px;
	height:160px;
}

.tmpltzr-ccwidget .cc-widget .cc-image a{
	text-decoration:none;
	border-bottom:none !important;
}

.tmpltzr-ccwidget .cc-widget a.cc-text{
	text-decoration:none;
	border-bottom:none !important;
	font-size:7px;
	line-height:9px;
	display:block;
	width:90%;
	margin-left:10px;
	height:74px;
	overflow:hidden;
}

.retina .tmpltzr-ccwidget .cc-widget a.cc-text{
	font-size:14px;
	line-height:18px;
	margin-left:20px;
	height:148px;
}

.tmpltzr-ccwidget .cc-widget a.cc-text .cc-type{
	font-size:7px;
	line-height:9px;
	text-transform: uppercase;
	padding: 0 1px 0 0;
	vertical-align:text-top;
	color: #FF4358;
}

.retina .tmpltzr-ccwidget .cc-widget a.cc-text .cc-type{
	font-size:14px;
	line-height:18px;
	padding: 0 2px 0 0;
}

.tmpltzr-ccwidget .cc-widget .cc-prev{
	position:absolute;
	z-index:1000;
	cursor:pointer;
	top:168px;
	left:9px;
	width:25px;
	height:7px;
	display:block;
	background:transparent url('http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/cc-widget-prev.png') no-repeat 0 0;
}

.retina .tmpltzr-ccwidget .cc-widget .cc-prev{
	top:337px;
	left:18px;
	width:51px;
	height:14px;
}

.tmpltzr-ccwidget .cc-widget .cc-next{
	position:absolute;
	z-index:1000;
	cursor:pointer;
	top:168px;
	right:9px;
	width:25px;
	height:7px;
	display:block;
	background:transparent url('http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/cc-widget-next.png') no-repeat 0 0;
}

.retina .tmpltzr-ccwidget .cc-widget .cc-next{
	top:337px;
	right:18px;
	width:51px;
	height:14px;
}

.tmpltzr-ccwidget .cc-widget-logo {
	position:absolute;
	width:20px;
	height:20px;
	display:block;
	top:5px;
	right:7px;
	z-index:1000;
	background:transparent url('http://www.columbia.edu/cu/arch/staging/tmpltzr/assets/cclogo40x40.png') no-repeat 0 0;
}

.retina .tmpltzr-ccwidget .cc-widget-logo {
	width:40px;
	height:40px;
	top:9px;
	right:14px;
}

#tmpltzr .tmpltzr-followwidget {
	background-color:#efefef;
	padding:10px;
	width:90%;
}

.retina #tmpltzr .tmpltzr-followwidget {
	padding:20px;
}

#tmpltzr .tmpltzr-followwidget .follow-links{
	margin-top:6px;
	display:block;
	height: 44px;
}

.retina #tmpltzr .tmpltzr-followwidget .follow-links{
	margin-top:12px;
	height: 44px;
}

#tmpltzr .tmpltzr-followwidget .follow-links a{
	display:-moz-inline-stack;
	display:inline-block;
	width:17px;
	height:17px;
	margin:0 10px 10px 0;
	padding:0 !important;
	float:left;
	border:none !important;
	text-decoration:none;
	background:transparent url('http://www.columbia.edu/cu/arch/tmpltzr/assets/Follow-icons-sprite.png') no-repeat left top;
	background-position: 0px 0px;
}

.IE .tmpltzr-followwidget .follow-links a{
	zoom:1;
	*display:inline;
}

#tmpltzr .tmpltzr-followwidget .follow-links-row{
	clear:both;
}

#tmpltzr .tmpltzr-followwidget .follow-links a#follow-twitter{
	background-position: -26px 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-twitter:hover{
	background-position: -26px -17px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-facebook{
	background-position: -52px 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-facebook:hover{
	background-position: -52px -17px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-linkedin{
	background-position: -78px -42px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-linkedin:hover{
	background-position: -78px -59px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-issuu{
	background-position: -130px -42px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-issuu:hover{
	background-position: -130px -59px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-flickr{
	background-position: 0 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-flickr:hover{
	background-position: 0 -17px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-cc{
	background-position: -156px 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-cc:hover{
	background-position: -156px -17px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-youtube{
	background-position: -78px 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-youtube:hover{
	background-position: -78px -17px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-vimeo{
	background-position: -104px -42px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-vimeo:hover{
	background-position: -104px -59px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-livestream{
	background-position: -130px 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-livestream:hover{
	background-position: -130px -17px;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-itunes{
	background-position: -104px 0;
}
#tmpltzr .tmpltzr-followwidget .follow-links a#follow-itunes:hover{
	background-position: -104px -17px;
}

#tmpltzr .tmpltzr-htmlwidget {
	padding:10px;
	width:90%;
}

.retina #tmpltzr .tmpltzr-htmlwidget {
	padding:20px;
}

/* WIDGET ANNOUNCEMENT */
#tmpltzr .tmpltzr-widgetannouncement{
	padding:20px;
	width:90%;
}

#tmpltzr .tmpltzr-widgetannouncement h4{
	text-align:center;
	margin:20px auto;
	color:black !important;
}

#tmpltzr .tmpltzr-widgetannouncement .tmpltzr-widget-body{
	color:black !important;
	padding-bottom:20px;
}

#tmpltzr .tmpltzr-widgetannouncement a{
	text-decoration: none !important;
	border:none !important;
}

#tmpltzr .tmpltzr-widgetannouncement .widget-brand.buell{
	float:right;
	width:34px;
	height:39px;
}

#tmpltzr .tmpltzr-widgetannouncement .tmpltzr-widget-image{
	text-align: center;
	margin:0 auto;
}

#tmpltzr .tmpltzr-widgetannouncement .widget-brand{
	float:left;
}

#tmpltzr .tmpltzr-widgetannouncement .widget-brand .widget-brand-text{
	margin-left: 7px;
	display:-moz-inline-stack;
	display: inline-block;
}

.IE #tmpltzr .tmpltzr-widgetannouncement .widget-brand .widget-brand-text{
	zoom:1;
    *display:inline;
}



/* FOOTER */
#footer-inner{
}

.iscroll #tmpltzr .tmpltzr-subtitle,
.iscroll .tmpltzr-person .tmpltzr-title-container .tmpltzr-subtitle,
.iscroll #tmpltzr .tmpltzr-caption,
.iscroll #tmpltzr .embedded-tumblr-permalink,
.iscroll #tmpltzr .tmpltzr-primarycourse .tmpltzr-course-code, #tmpltzr .tmpltzr-primarycourse .tmpltzr-course-points,
.iscroll #tmpltzr .gs-webResult div.gs-visibleUrl, #tmpltzr .gs-imageResult div.gs-visibleUrl,
.iscroll #tmpltzr .gsc-result-info,
.iscroll .view-people .view-filters .views-exposed-widget label,
.iscroll #footer-inner,
.iscroll .tmpltzr-featuredeventwidget .featured-events-widget .fe-label,
.iscroll #tmpltzr .embedded-tumblr .tmpltzr-tags,
.iscroll .profile .views-field-value-5,
.iscroll #tmpltzr .tmpltzr-widgetannouncement .tmpltzr-widget-body {
	font: 14px/18px "Courier New", Courier, Verdana, sans-serif;
}
